<!doctype html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>HamroFare</title>
        <link rel="icon" href="{% static 'main/pix/logo.png' %}">
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">

        <!-- Styles -->
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/layout.css' %}">
        <link rel="stylesheet" href="{% static 'main/css/floating-labels.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">
        
    </head>
    <body>
        <nav id="header">
            <div class="logo">
                <a href="#"><img src="{% static 'main/pix/logo.png' %}" alt="logo" id="logo"></a>
            </div>
            <div id="banner">
                Hamro<font id="bannerTitle">Fare</font>
            </div>
        </nav>

        <!-- body -->
        <div class="container-fluid" id="wrapper">
        <div class="jumbotron" align="center">
            <h4>Admin Login</h4>

            {% if err_msg %}
                <div class="alert alert-warning"><h1>{{ err_msg }}</h1></div>
            {% endif %}

            <div id="LogIn">
                <form class="form" method="post" action="{% url 'superadmin:login' %}" onsubmit="return checklogin()">
                    {% csrf_token %}
                  <div class="form-label-group">
                    <input type="text" id="userName" name="userName" class="form-control" placeholder="Username" autofocus>
                    <label for="userName">Username</label>
                  </div>
                  <div class="form-label-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" autofocus>
                    <label for="password">Password</label>
                  </div>

                  <input class="btn btn-lg btn-primary btn-block" type="submit" value="LogIn">
                </form>
            </div>

        </div>
        </div>

        <!-- body end-->
    </body>
</html>
<!-- scripts -->
<script src="{% static 'main/js/validate.js' %}"></script>
<!-- @yield('script') -->
